= simple_form_for @order, :html => {:multipart => true}, label: false do |f|
  = f.error_notification
  .section
    = f.simple_fields_for :deceased do |p|
      .row
        .col.s12
          %h5.blue-grey-text.text-darken-2
            %i.material-icons.left looks_one
            = 'General info'
      .row
        = p.input :firstname, input_html: { class: 'validate' }, wrapper_html: { class: 'col s6' }, label: false do
          %i.material-icons.left.prefix account_circle
          = p.label :firstname
          = p.input_field :firstname
        = p.input :lastname, input_html: { class: 'validate' }, wrapper_html: { class: 'col s6' }, label: false do
          %i.material-icons.left.prefix account_circle
          = p.label :lastname
          = p.input_field :lastname
      .row
        .col.s6
          = p.input :birthday, label: false, as: :date_picker
        .col.s6
          = p.input :deathday, label: false, as: :date_picker
      .row.valign-wrapper
        .col.s6.valign
          = p.input :funeral_place, input_html: { class: 'validate' }, label: false do
            %i.material-icons.left.prefix location_on
            = p.label :funeral_place
            = p.input_field :funeral_place
          %br
          .row
            .col.s6
              =p.input :funeral_day, as: :date_picker, label: false
            .col.s6
              =p.input :funeral_time, as: :time_picker, label: false
        .col.s6.center-align
          = image_tag @order.deceased.photo.url(:thumb), class: 'responsive-img'
          .file-field.input-field
            .btn
              %span
                %i.material-icons add_a_photo
              =p.input_field :photo, class: 'file', as: :file
            .file-path-wrapper
              %input.file-path.validate{placeholder: 'Upload photo'}
      .row
        .col.s9
          = p.input :cemetery_name, input_html: { class: 'validate' }
      .row
        .col.s3
          = p.input :exposure_day, label: false, as: :date_picker
        .col.s3
          = p.input :morgue_work_from, label: false, as: :time_picker
        .col.s3
          = p.input :morgue_work_to, label: false, as: :time_picker
      .row
        .col.s3
          = p.input :departure_day, label: false, as: :date_picker
        .col.s3
          = p.input :departure_time, label: false, as: :time_picker
      .row
        .col.s12
          = p.input :coffin_issued_by
      .row
        .col.s12
          = p.input :coffin_prepare_by
      .row
        .col.s12
          = p.input :crematorium_kind, collection: Deceased.crematorium_kinds, label_html: {class: 'active'}
      .row.valign-wrapper
        .col.s8
          = p.input :coffin_kind
        .col.s4.valign
          =p.input :pillow_take, wrapper: :vertical_boolean
      .row
        .col.s12
          =p.input :note, as: :text, input_html: {class: 'materialize-textarea'}
  .divider
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left build
        ='Instruments'
    =f.simple_fields_for :deceased do |p|
      .row
        .col.s6
          =p.input :instruments_1, wrapper: :vertical_boolean, label: false do
            =p.input_field :instruments_1
            =p.label :instruments_1
        .col.s6
          =p.input :instruments_2, wrapper: :vertical_boolean, label: false do
            =p.input_field :instruments_2
            =p.label :instruments_2
      .row
        .col.s6
          =p.input :instruments_3, wrapper: :vertical_boolean, label: false do
            =p.input_field :instruments_3
            =p.label :instruments_3
        .col.s6
          =p.input :instruments_4, wrapper: :vertical_boolean, label: false do
            =p.input_field :instruments_4
            =p.label :instruments_4
  .divider
  = f.simple_fields_for :relative do |p|
    .section
      .row
        %h5.blue-grey-text.text-darken-2
          %i.material-icons.left looks_two
          = 'Relative info'
      .row
        .col.s6
          .col.s12
            = p.input :firstname, label: false do
              %i.material-icons.left.prefix account_circle
              =p.label :firstname
              =p.input_field :firstname, class: 'validate'
          .col.s12
            = p.input :lastname, label: false do
              %i.material-icons.left.prefix account_circle
              =p.label :lastname
              =p.input_field :lastname, class: 'validate'
          .col.s6
            =p.input :phone, label: false do
              %i.material-icons.left.prefix phone
              = p.label :phone
              = p.input_field :phone, as: :tel, pattern: '+39 [0-9]{4}-[0-9]{4}', class: 'validate'
          .col.s6
            =p.input :mobile, label: false do
              %i.material-icons.left.prefix smartphone
              = p.label :mobile
              = p.input_field :mobile, as: :tel, pattern: '+39 [0-9]{4}-[0-9]{4}', class: 'validate'
        .col.s6
          = p.input :relationship, input_html: { class: 'validate' }
  .divider
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left local_florist
        ='Flowers module'
        = link_to_add_association f, :flowers, class: 'btn-floating z-depth-0 add-flower blue-grey darken-1 tooltipped', data: { tooltip: 'Add new flower position to current order' } do
          %i.material-icons.white-text.right add
      = f.simple_fields_for :deceased do |d|
        .row
          .col.s6
            =d.input :flowerday, label: false, as: :date_picker
          .col.s6
            =d.input :flowertime, label: false, as: :time_picker
    #flowers.row
      = f.simple_fields_for :flowers do |flower|
        =render 'flower_fields', f: flower
  .divider
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left assistant
        ='Assistants'
        = link_to_add_association f, :assistants, class: 'btn-floating z-depth-0 add-assistant blue-grey darken-1 tooltipped', data: { tooltip: 'Add new assistant to this order' } do
          %i.material-icons.white-text.right add
    #assistants
      = f.simple_fields_for :assistants do |a|
        =render 'assistant_fields', f: a
  .divider
  .section
    .row.blue-grey-text.text-darken-2
      %h5
        %i.material-icons.left directions_car
        ='Cars'
        = link_to_add_association f, :cars, class: 'btn-floating z-depth-0 add-car blue-grey darken-1 tooltipped', data: { tooltip: 'Add new car to this order' } do
          %i.material-icons.white-text.right add
    #cars
      =f.simple_fields_for :cars do |c|
        =render 'car_fields', f: c
  .divider
  .section
    .row.center-align
      =f.submit class: 'btn btn-large' do
        %i.material-icons.left save