%tr
  %td= order.deceased.name
  %td= order.deceased.funeral_day
  %td= order.relative.name
  %td= order.relative.mobile
  %td
    =link_to order_path(order), class: 'btn btn-default btn-sm' do
      %i.glyphicon.glyphicon-folder-open
      = t('app.buttons.show')
  %td
    = link_to edit_order_path(order), class: 'btn btn-info btn-sm' do
      %i.glyphicon.glyphicon-edit
      = t('app.buttons.edit')
  %td
    = link_to order, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm' do
      %i.glyphicon.glyphicon-trash
      = t('app.buttons.destroy')
