!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8"}
    :css
      body {
        font-family: 'Arial Unicode MS';
        font-size: 11pt;
        line-height: 11pt;
        padding-top: 50px;
      }
      .subtitle {
        color: red;
        text-decoration: underline;
      }
      .row {
        margin-left: auto;
        margin-right: auto;
      }
      .col-6 {
        width: 45%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
  %body
    .row
      .col-12
        %p.subtitle CHECK LIST : SERVE PER PREPARAZIONE BARA ED ESPOSIZIONE SALMA
    .row
      .col-12
        %p="DEFUNTO: #{@order.deceased.name}"
    .row
      .col-6
        %p= "DATA DI NASCITA: #{@order.deceased.birthday}"
      .col-6
        %p= "DATA DI MORTE: #{@order.deceased.deathday}"
    .row
      .col-6
        %p="FUNERALE A: #{@order.deceased.funeral_place}"
      .col-6
        %p= "IL: #{@order.deceased.funeral_day}"
    .row
      .col-12
        %p="ALLE ORE: #{@order.deceased.funeral_time}"
    .row
      .col-12
        %p="ESPOSTO ALLE CELLE DI: #{@order.deceased.cemetery_name}"
    .row
      .col-12
        %p="GIORNO DELL'ESPOSIZIONE: #{@order.deceased.exposure_day}"
    .row
      .col-12
        %p="ORARI OBITORIO: #{@order.deceased.morgue_work_from} - #{@order.deceased.morgue_work_to}"
    .row
      .col-6
        %p= "ORARIO PARTENZA: #{@order.deceased.departure_day}"
      .col-6
        %p= "IL: #{@order.deceased.departure_time}"
    .row
      .col-12
        %p.subtitle='NB: AVVISARE SEMPRE LA FAMIGLIA SUGLI ORARI E VISITE'
    .row
      .col-12
        %p="FAMILIARE SIG: #{@order.relative.name}"
    .row
      .col-6
        %p= "TELEFONO: #{@order.relative.phone}"
      .col-6
        %p= "GRADO DI PARENTELA: #{@order.relative.relationship}"
    .row
      .col-12
        %p="CELLULARE: #{@order.relative.mobile}"
    .row
      .col-12
        %p="COFANO CONSEGNATO DA: #{@order.deceased.coffin_issued_by}"
    .row
      .col-12
        %p="CAMERA ARDENTE TIPO: "
    .row
      .col-12
        %p='TRUCCO FATTO: '
        %p="[#{@order.deceased.crematorium_kind == 'camera' ? ' X ' : '___'}] LOCULO     [#{@order.deceased.crematorium_kind == 'ground' ? ' X ' : '___'}] TERRA     [#{@order.deceased.crematorium_kind == 'cremation' ? ' X ' : '___'}] CREMAZIONE"

    .row
      .col-12
        %p="ADDETTO PREPARAZIONE BARA: #{@order.deceased.coffin_prepare_by}"
    .row
      .col-12
        %p="NOTE: #{@order.deceased.note}"
    .row
      .col-12
        %p="tipo cassa: #{@order.deceased.coffin_kind}"