!!!
%html
  %head
    %meta{:charset => "utf-8" }
    :css
      body {
        font-family: 'Arial Unicode MS';
        font-size: 10pt;
        line-height: 10pt;
        padding-top: 50px;
      }
      .title {
        font-size: 16pt;
      }
      .row {
        margin-left: auto;
        margin-right: auto;
      }
      .col-6 {
        width: 45%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }
      .col-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1pt;
      }

  %body
    .row
      .col-12
        %p.title ORDINE FIORI
    %br
    .row
      .col-12
        %p= "DEFUNTO: #{@order.deceased.name}"
    .row
      .col-12
        %p= "FUNERALE A: #{@order.deceased.funeral_place}"
    .row
      .col-6
        %p= "IL GIORNO: #{@order.deceased.funeral_day}"
      .col-6
        %p= "ORE: #{@order.deceased.funeral_time}"
    .row
      .col-12 --------------------------------------------------------------------------------
    .row
      .col-12
        %p= "FIORI PRONTI PER IL GIORNO: #{@order.deceased.flowerday}"
    .row
      .col-12
        %p= "ALLE ORE: #{@order.deceased.flowertime}"
    .row
      .col-12 --------------------------------------------------------------------------------
    - @order.flowers.each do |f|
      .row
        .col-12
          %p= "TIPO COMPO, €: #{f.price}"
      .row
        .col-12
          %p= "TIPO FIORI: #{f.kind}"
      .row
        .col-12
          %p= "TESTO: #{f.text}"
      %br  
    .row
      .col-12
        %p= "note: #{@order.deceased.note}"
    .row
      .col-12
        %p= "TELEFONO O ALTRI RIFERIMENTI: "
