%ul#sidenav.side-nav.fixed
  %li.no-padding
    .userView.blue-grey
      =link_to nil do
        =image_tag 'thumb/missing_photo.png', class: 'circle'
      = link_to nil, class: 'name' do
        = 'Artyom Samsonov'
      = link_to nil, class: 'email' do
        = 'samsonov68rus@gmail.com'
  %li.no-padding
    %ul.collapsible.collapsible-accordion{ :data => { :collapsible => 'accordion' } }
      %li.bold
        %a{ class: "collapsible-header waves-effect waves-teal #{(@orders.present? or @order.present?) ? 'active': ''}" }
          %i.material-icons.left list
          = 'Orders'
        .collapsible-body
          %ul
            %li
              = link_to new_order_path, class: 'waves-effect waves-teal' do
                = 'New'
                %i.material-icons.right.cyan-text create
            %li.divider
            %li
              = link_to orders_path, class: 'waves-effect waves-teal' do
                = 'Active'
                %span.badge
                  = Order.active.size
                %i.material-icons.right.teal-text.text-accent-4 inbox
            %li
              = link_to orders_path(archived: true), class: 'waves-effect waves-teal' do
                ='Archived'
                %span.badge
                  = Order.archived.size
                %i.material-icons.right.blue-grey-text archive
      %li.bold
        %a{ class: "collapsible-header waves-effect waves-teal #{(@documents.present? or @document.present?) ? 'active': nil}" }
          %i.material-icons folder_open
          = 'Documents'
        .collapsible-body
          %ul.disabled
            %li
              =link_to documents_path do
                ='Last'
            %li
              =link_to documents_path do
                ='Waiting'
      %li.bold
        %a{ class: "collapsible-header waves-effect waves-teal #{@contacts.present? or @contact.present? ? 'active': nil}" }
          %i.material-icons contacts
          = 'Contacts'
        .collapsible-body
          %ul
            %li
              =link_to contacts_path do
                ='List'
            %li
              =link_to contacts_path do
                ='Marked'