%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-expanded' => 'false', 'data-target' => '#bs-example-navbar-collapse-1', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => '#'}= t('app.name')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to orders_path do
            = t('app.topbar.orders')
            - if Deceased.full.select(:funeral_day).where('funeral_day >= ?', Date.today.to_date).any?
              %span.badge
                = Deceased.full.select(:funeral_day).where('funeral_day >= ?', Date.today.to_date).count
            %span.sr-only (current)
        %li
          =link_to '/contacts' do
            = t('app.topbar.contacts')
            %span.sr-only (current)
        %li
          =link_to '/documents' do
            = t('app.topbar.docs')
            %span.sr-only (current)
        -#%li.dropdown
        -#  %a.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#', :role => 'button'}
        -#    = t('app.topbar.actions')
        -#    %span.caret
        -#  %ul.dropdown-menu
        -#    %li
        -#      =link_to new_order_path do
        -#        %i.glyphicon.glyphicon-plus-sign
        -#        = t('app.topbar.addorder')
        -#    %li.divider{:role => 'separator'}
        -#    %li
        -#      %a{:href => '#'}= t('app.topbar.docs')
      %form.navbar-form.navbar-left
        .form-group
          %input.form-control{:placeholder => t('app.topbar.search'), :type => 'text'}/
        %button.btn.btn-default{:type => 'submit'}
          %i.glyphicon.glyphicon-search
          =t('app.buttons.search')
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to '/profile' do
            = t('app.topbar.profile')
            %span.sr-only (current)
        %li
          =link_to '/logout' do
            = t('app.topbar.logout')
            %span.sr-only (current)
